html{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
}

.topnav{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-top: 2%;
    height: 3em;
    margin-left: 50%;
    margin-bottom: 2%;
    box-sizing: content-box;
}

.topnav a:link{
    color: #000000;
    font-size: 16px;
    text-transform: none;
    font-weight: 400;    
}

#descriptor{
    display: grid;
    grid-template-columns: 50% 50%;
    box-sizing: border-box;
    margin-bottom: 5%;
}

#descriptor img{
    border-radius: 50%;
    margin-left: 15%;
    width: 65%;
    margin-top: -2%;
    height: auto;
}

h1{
    font-size: 2.75em;
}

p{
    font-size: 1.5em;
}

a{
    color: #000000;
}

a:hover{
    text-decoration: wavy underline #000000;
    padding-bottom: 0.3em;;
}

footer{
    display: grid;
    grid-template-columns: 50% 50%;
}

#socials-citation{
    margin-left: 15%;
    display: grid;
    grid-template-columns: 30% 70% ;
}

#socials-citation img{
    width: 20px;
    height: auto;
}

.socials-citation p{
    font-size: 1em; 
    font-weight: 400;
    margin: 0;
}

#socials{
    display: grid;
    grid-template-columns: 10% 10% 10%;
}

#illustrations{
    display: grid;
    grid-template-columns: 40% 40%;
    margin-left: 40%;
}

#projects{
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.skill p{
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}

.projects{
    margin-left: 25%;
    display: grid;
    grid-template-rows: 60% 40%;
    grid-gap: 10%;
    height: auto;
}

article{
    margin-left: 7%;
    margin-right: 7%;
    display: grid;
}

blockquote{
    background-color: beige;
    text-align: center;
}

article p{
    font-size: 1em;
}

h2{
    font-size: 1.5em;
    text-decoration: underline;
}

h3{
    font-size: 1.05em;
}

.next{
    margin-left: 80%;
}

.prev{
    display: grid;
    grid-template-columns: 20% 80%;
}

.goals{
    display: grid;
    grid-template-columns: 40% 57%;
}

.gols{
    display: grid;
    grid-template-columns: 75% 20%;
    column-gap: 3%;
}

.gols img{
    height: 189px;
}
article img{
    border: 3px solid beige;
}

.info{
    display: grid;
    grid-gap: 5em;
    grid-template-columns: 40% 40%;
    margin-bottom: 5%;
}

.info img{
    height: 200px;
    width: 80%;
}

.designs{
    display: grid;
    grid-gap: 5em;
    grid-template-columns: 40% 40%;
}

.designs img{
    height: 750px;
    width: 100%;
}