*{
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0;
}

p{
    font-size: 1.5rem;
    margin-left: 33%;
}

li{
    font-family: 'Halant', serif;
    font-size: 1.2rem;
    font-weight: bold;
    color:#909090;
    padding: 4px 10px;
    cursor: pointer;
}

a{
    color: #909090;
}

.smenu{
    overflow: hidden;
}

.smenu a{
    display: block;
    padding: 10px 15px;
    font-size: 1rem;
    margin: 4px 0;
    position: relative;
}

.pages{
    display: grid;
    grid-template-columns: 30% 70%;
}

.details-class{
    width: 95%;
    border-left: 2px solid black;
}

.details-class p{
    margin: 0;
    font-family: 'Halant', serif;
    font-size: 1.25rem;
    margin-left: 5%;
}

.details-class .details{
    margin-top: 3%;
}

.pages li.active{
    color: black;
    border-left: 6px solid #4CAF50;
}

img{
    margin: 0;
    height: 400px;
}

.info-wire p{
    font-size: 1rem;
}

.designs{
    display: block;
}

.designs img{
    height: auto;
    width: 100%;
}

.home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.home a{
    padding-top: 3%;
}

.home a:hover {
    color: black;
}